div.casas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

div.casa {
  width: 100%;
  background-color: #fff;
  max-width: 320px;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

div.casa img {
  width: 100%;
  aspect-ratio: 3/2;
}

div.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}