div.casas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

div.casa {
  width: 100%;
  background-color: #fff;
  max-width: 340px;
  padding: 0.6rem;
  border-radius: 0.6rem;
}

div.casa img {
  width: 100%;
  border-radius: 0.6rem;
  aspect-ratio: 3/2;
  object-fit: cover;
}

div.footer {
  padding: 0.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.casa-maior {
  background-color: #fff;
  margin: auto;
  padding: 1rem 1rem 1.6rem 1rem;
  width: 100%;
  max-width: 920px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.casa-maior img {
  border-radius: 1rem;
  margin-bottom: 0.4rem;
}

button.proposta {
  font-size: 1rem;
  border: none;
  border: 2px solid #752c37;
  color: #752c37;
  background-color: #fff;
  font-weight: bold;
  padding: 0.6rem 0.6rem;
  margin-top: 0.8rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

button.proposta:hover {
  background-color: #752c37;
  color: #fff;
}

p.descricao {
  margin-top: 0.2rem;
}