div.dados {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

div.dados input {
  height: 2rem;
  padding: 0.4rem;
}

div.casas-perfil {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

div.casas-cadastradas {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

button.cadastrar {
  background-color: #5e1f28;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 1.2rem;
  font-size: 1.04rem;
}

button.sair {
  width: 100%;
  background-color: #5e1f28;
  color: #fff;
  border: none;
  padding: 0.8rem;
  border-radius: 1.4rem;
  font-size: 1.04rem;
  transition: all 0.3s;
}

button.sair:hover {
  background-color: #752c37;
}

div.casa {
  position: relative;
}

div.pessoal {
  border: 1px solid #e4e4e4;
  box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.24);
}

div.casa i.fa-trash {
  position: absolute;
  top: 1rem;
  right: 0.9rem;
  color: #fff;
  background-color: #752c37;
  border: 1px solid black;
  padding: 1.2rem 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}

div.propostas {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

div.minhas-propostas {
  padding: 0.8rem 0;
  display: flex;
  flex-wrap: wrap;
}

div.proposta {
  width: 100%;
  max-width: 360px;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.8rem;
  box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.24);
}

div.proposta i {
  cursor: pointer;
}