div.background {
  background-color: #000000c9;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

div.card {
  background-color: #fff;
  width: 98%;
  max-width: 620px;
  border-radius: 1rem;
  padding: 1rem 0.6rem;
}

div.card h2 {
  font-size: clamp(1rem, 5vw, 2rem);
}

div.card h3 {
  font-size: clamp(0.9rem, 4vw, 1.5rem);
}

div.card form {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

div.card input {
  height: 2.4rem;
  font-size: 1rem;
  border: 1px solid #333;
  outline: none;
  border-radius: 0.6rem;
  padding: 0.4rem;
}

div.card textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 6rem;
  font-size: 1rem;
  border: 1px solid #333;
  outline: none;
  border-radius: 0.6rem;
  padding: 0.4rem;
}

div.card p {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  margin: 0.4rem 0;
}

div.card button {
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  padding: 0.6rem 1rem;
}

.enviar {
  background-color: #085480;
  transition: all 0.2s;
}

.enviar:hover {
  background-color: #1c88c2;
}

.cancelar {
  background-color: #b61519;
  transition: all 0.2s;
}

.cancelar:hover {
  background-color: #d42629;
}

.centro {
  width: 100%;
}