div.background {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000c9;
}

div.card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 0.6rem;
  width: 98%;
  max-width: 620px;
}

div.card h2 {
  text-align: center;
  font-size: clamp(1.6rem, 4vw, 2rem);
  margin: 1rem 0;
}

div.card form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

div.card input {
  border-radius: 0.6rem;
  border: 1px solid #333;
  font-size: 1rem;
  padding: 0.4rem;
  height: 2.4rem;
  outline: none;
}

div.card textarea {
  border-radius: 0.6rem;
  border: 1px solid #333;
  font-size: 1rem;
  padding: 0.4rem;
  max-width: 100%;
  min-width: 100%;
  min-height: 6rem;
  outline: none;
}

div.card p {
  margin: 0.4rem 0;
}

div.card button {
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  color: #fff;
}

.enviar {
  background-color: #085480;
  transition: all 0.2s;
}

.enviar:hover {
  background-color: #1c88c2;
}

.cancelar {
  background-color: #b61519;
  transition: all 0.2s;
}

.cancelar:hover {
  background-color: #d42629;
}

.centro {
  width: 100%;
}