div.usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

div.cadastro {
  width: 100%;
  max-width: 620px;
}

div.header-cadastro {
  background-color: #5e1f28;
  padding: 1.4rem 0;
}

div.header-cadastro h2 {
  color: #fff;
  font-size: clamp(1.8rem, 10vw, 2.8rem);
  text-align: center;
  padding: 1rem 0;
}

form.main-cadastro {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(1rem);
  border: 1px solid #5e1f28;
}

form.main-cadastro input {
  height: 2.8rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.4rem;
  margin: 1rem 0;
}

form.main-cadastro input::placeholder {
  font-size: clamp(0.9rem, 3vw, 1rem);
}

form.main-cadastro button {
  color: #fff;
  background-color: #5e1f28;
  height: 2.8rem;
  width: 100%;
  border: none;
  font-size: 1rem;
}

div.cadastro p {
  font-size: clamp(0.9rem, 3vw, 1rem);
  text-align: center;
  margin-top: 0.6rem;
}

div.cadastro a:hover {
 text-decoration: underline;
}