div.usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60dvh;
}

div.cadastro {
  background-color: rgba(0, 0, 0, 0.137);
  backdrop-filter: blur(1rem);
  width: 100%;
  max-width: 620px;
  border: 1px solid #5e1f28;
}

div.header-cadastro {
  background-color: #5e1f28;
  padding: 1.6rem 0;
}

div.header-cadastro h2 {
  color: #fff;
  text-align: center;
  font-size: clamp(1.8rem, 10vw, 2.8rem);
  padding: 2rem 0;
}

form.main-cadastro {
  padding: 1rem 0;
  display: flex;
}

form.main-cadastro input {
  width: 100%;
  border: none;
  outline: none;
  height: 2.8rem;
  padding: 0.4rem;
}

form.main-cadastro input::placeholder {
  font-size: 1.04rem;
}

div.cadastro p {
  text-align: center;
  padding: 0.8rem 0;
  background-color: #5e1f28;
  color: #fff;
}

div.cadastro a {
  color: #fff;
}

div.cadastro a:hover {
 text-decoration: underline;
}